<p>chat works!</p>
<main class="chart">
  <div class="containner">
    <div class="chart-connent">
      <div class="chat-card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Sara:</strong>
            <span>Hello!</span>
          </li>
          <li class="list-group-item">
            <strong>User:</strong>
            <span>Hi!</span>
          </li>
        </ul>
      </div>
    </div>
    <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm">
      <div class="chart-send row">
        <div class="col-2">
          <input type="text" class="form-control" name="user" id="input-user">
        </div>
        <div class="col-8">
          <input type="text" class="form-control" name="message" id="input-message">
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </div>
    </form>
  </div>
</main>
