/* start_now btn*/
#start_now
{
    text-align: center;
    box-sizing: content-box;
    /* border: solid;  */
    padding: 65px;
    height: 119px;
}
#start_now ul li
{
    list-style: none;
    /* border: solid;  */
    width: auto;
    margin-left: 10px;
    height: 140px;
}
#start_now:hover
{
    box-shadow: 0 0 50px #ccc;
}
#start_now ul li p
{
    font-size: 4vw;
    color: white;
    text-align: center;
    padding: -20px;
}
#btnstart_now
{
    height: 60px;
    width: 200px;
    position: absolute;
    bottom: auto;
    display: grid;
    place-items: center;
    background: #160aab;
    border-radius: 10px 20px;
    padding: 10px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#start_now #btnstart_now a
{
    color: #e9e9eb;
    font-size: 1vw;
    list-style: none;
    text-decoration: none;
}
#start_now #btnstart_now:hover
{
    background-color: black;
}
