<section>
        <div class="content">
            <!-- <button onclick="more_information()"><a id="More_information">More Information<br></a></button><br><br><br><br><br><br><br><br> -->
            <!-- <p style="display: none" id="description"><br><br>We provide the best facilities. Our facilities are swimming, badminton and tennis.<br><br><br></p> -->
            <video autoplay loop muted plays-inline class="video">
                <source src="../../../assets/video/video of sports.mp4" type="video/mp4">
            </video>
        </div>
    </section>
<section id="beign_now">
  <br><div id="start_now">
    <ul>
        <li>
            <p>Let's Start Our Journey</p>
        </li>
        <p id="btnstart_now"><a routerLink="/booking">Begin Now</a></p>
    </ul>
  </div><br>
  </section>
