<section>
        <div class="content">
            <video autoplay loop muted plays-inline class="video">
                <source src="../../../assets/video/video of sports.mp4" type="video/mp4">
            </video>
            </div>
            <br><br><br>
            <div class="card text-center">
              <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <a class="nav-link active">About Us</a>
                  </li>

                </ul>
              </div>
              <div class="card-body">
                <h1 class="card-title">Our Achievements</h1>
                <p class="card-text">
                  <li><span>First Place </span> In 2011 for the annual Peace and Sport Award</li>
                  <li><span>First Place </span> In 2019 for the Sports Club of the Year Award</li>
                  <li><span>First Place </span> In 2020 for the annual Peace and Sport Award</li>
                  <li><span>Second Place </span> In 2021 for the Best Economical Built Sports Club Award</li>
                </p>
                <h1 class="card-title">More Information</h1>
                <p class="card-text">
                  We provide the best facilities. Our facilities are swimming, badminton and tennis.
                </p>
                <a routerLink="" class="btn btn-primary">Back to Home Page</a>
              </div>
            </div>
    </section>
    <br><br><br>
<section id="beign_now">
  <br><div id="start_now">
    <ul>
        <li>
            <p>Let's Start Our Journey</p>
        </li>
        <p id="btnstart_now"><a routerLink="/booking">Begin Now</a></p>
    </ul>
  </div><br>
  </section>
