.video
{
  /* position:static; */
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  margin-top: -34%;
}
@media (max-aspect-ratio: 26/1.2)
{

.video
  {
    width: 100%;
    height: auto;
  }
}
.content
{
  text-align: center;
  margin-top: 40%;
}
button
{
  background: transparent;
  border: none;
}
.content a
{
  font-size: 30px;
  color: #fff;
  font-weight: 600px;
  display: inline-block;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 14px;
  border-radius: 50px;
}
#description
{
  font-size: 40px;
  color: #fff;
  text-align: center;
  place-items: center;
  top: 50%;
  width: 100%;
  justify-content: center
}
/* start_now btn*/
#start_now
{
    text-align: center;
    box-sizing: content-box;
    /* border: solid;  */
    padding: 65px;
    height: 119px;
}
#start_now ul li
{
    list-style: none;
    /* border: solid;  */
    width: auto;
    margin-left: 10px;
    height: 140px;
}
#start_now:hover
{
    box-shadow: 0 0 50px #ccc;
}
#start_now ul li p
{
    font-size: 4vw;
    color: white;
    text-align: center;
    padding: -20px;
}
#btnstart_now
{
    height: 60px;
    width: 200px;
    position: absolute;
    bottom: auto;
    display: grid;
    place-items: center;
    background: #160aab;
    border-radius: 10px 20px;
    padding: 10px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#start_now #btnstart_now a
{
    color: #e9e9eb;
    font-size: 1vw;
    list-style: none;
    text-decoration: none;
}
#start_now #btnstart_now:hover
{
    background-color: black;
}
