/*logo*/
#container #logo
{
    left: 8%;
    top: 30px;
    font-size: 30px;
    z-index: 997;
    font-weight: bold;
    color: #165397;
}
#logo img
{
    margin-top: 80px;
    margin-left: 510px;
    height: 200px;
    width: 200px;
    position: relative;
}
#content
{
    margin-block-start: 80px;

}
/* start_now btn*/
#start_now
{
    text-align: center;
    box-sizing: content-box;
    border: solid;
}