
<nav class="navbar fixed-top navbar-expand-md navbar-dark p-med-3">
  <button class="logo" class="navbar-brand" class="nav-link active" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><img id ="home_logo"></button>
  <button type="button" class="navbar-toggler" data-target="#navarNav" data-toggle="collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggle-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="mx-auto">
    <div class="navbar-nav">
      &nbsp; &nbsp; &nbsp;<a class="border" class="nav-item nav-link active" routerLink="our_why" routerLinkActive="active-link">Our Why </a>
      &nbsp; &nbsp; &nbsp;<a class="nav-item nav-link active" routerLink="the_process" routerLinkActive="active-link">The Process </a>
      &nbsp; &nbsp; &nbsp;<a class="nav-item nav-link active" routerLink="our_facilities" routerLinkActive="active-link">Our Facilities </a>
      &nbsp; &nbsp; &nbsp;<a class="nav-item nav-link active" routerLink="our_story" routerLinkActive="active-link"> Our Story </a>
      &nbsp; &nbsp; &nbsp;<a class="nav-item nav-link active" routerLink= "first" routerLinkActive="active-link"> Account </a>
      &nbsp; &nbsp; &nbsp;<a class="nav-item nav-link active" routerLink="booking" routerLinkActive="active-link"> Booking </a>

      </div>
    </div>
  </div>
</nav>
