nav
{
    box-shadow: none;
    background-color: black;
}
#navi_bar
{
    list-style: none;
    display: flex;
    flex-direction: row;
    /* border: solid; */
    padding-left: auto;
    overflow: hidden;
    place-items: center;
}
.navbar-nav
{
    /* border:  solid; */
    padding: auto;
    width: 100%;
    font-size: 2vw;
    place-items: center;
    text-align: center;
    text-decoration: none;
}
p .border
{
  border: none;
}
a
{
    text-decoration: none;
    color: white;
}
a:hover
{
  text-decoration: none;
    box-sizing: border-box;
    border: 2px solid #160aab; /*white and tranparent*/
    /* padding: 10px 10px 10px; */
}
button
{
  background: transparent;
  border: none;
  padding-left: 4%;
}
#book_nowbtn
{
    height: auto;
    width: auto;
    min-width: 150px;
    position: absolute;
    display: grid;
    place-items: center;
    background: #160aab;
    border-radius: 10px 20px;
    right: auto;
    padding: 10px;
    /* border: solid; */
    left: 100%;
    top: 1%;
    margin-inline: -12%;
}
#navi_bar #book_nowbtn a
{
    color: #e9e9eb;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    padding: auto;
    border: none;
}
#navi_bar #book_nowbtn:hover
{
    background-color: black;
}
#home_logo
{
    top: 30px;
    font-size: 30px;
    z-index: 997;
    font-weight: bold;
    height: 6vw;
    width: 7vw;
    place-items: center;
    background-image: url(../images/logo.png);
    background-clip: padding-box;
    background-size: contain;
    /* background-clip: 130%; */
    padding-left: 100%;
    background-repeat: no-repeat;
}
