<!-- <button></button>
<table>
<a *ngFor="let bookinglist of bookingslist">
  <tr>
  <td>{{bookinglist.uname}}</td>
  <td>{{bookinglist.uemail}}</td>
  <td>{{bookinglist.uphonumber}}</td>
  <td>{{bookinglist.facilities}}</td>
  <td>{{bookinglist.startdateandtime}}</td>
  <td>{{bookinglist.enddateandtime}}</td>
  <td>{{bookinglist.no_of_participants}}</td>
  <td>{{bookinglist.trainner}}</td>
  <td>{{bookinglist.membershipno}}</td>

  </tr>
  </a>
  </table> -->

  <div class="centered-content">
    <div class="modal-box">
<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h1 class="card-title">Your Booking has been placed</h1><br>
    <p class="card-text">
      <li>The booking will be placed under your name and email address.</li><br>
      <li>At the reception of our sports club, the payment can be deposited.</li><br>
      <li>Our Rating are (per person): </li><br>
      &nbsp;&nbsp;&nbsp;&nbsp;<li>1 hour = $50</li>
      &nbsp;&nbsp;&nbsp;&nbsp;<li>2 hour = $100</li>
      &nbsp;&nbsp;&nbsp;&nbsp;<li>3 hour = $150</li>
      &nbsp;&nbsp;&nbsp;&nbsp;<li>4 hour = $200</li>
      &nbsp;&nbsp;&nbsp;&nbsp;<li>5 hour = $250</li>
      <br>
      <li>Any deletion or Update your booking needs to be contacted with our admin panel. <br>
      (An option to chat with our team about your changes to the booking are readily available in the your created account page.)</li>
    </p>
    <a routerLink="" class="btn btn-primary">Back to Home Page</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
</div>
</div>
<br><br><br><br><br><br>
