<section id="intro">
  <div id="content">
  <div class="intro_heading">
      <h3>Our <span>Facilities</span></h3>
  </div>
</div>
</section>
<section class="facilities">
  <div class="row">
      <div class="facilities-col">
          <img src="../../../assets/images/facilities/tennis.jpg">
          <h3>Tennis</h3>
          <p>fjvdjnvidnv jdjcodn idjdn cjdcknjdn cjdncid cdjcj</p>
      </div>
      <div class="facilities-col">
          <img src="../../../assets/images/facilities/swimming.jpg">
          <h3>Swimming</h3>
          <p>fjvdjnvidnv jdjcodn idjdn cjdcknjdn cjdncid cdjcj</p>
      </div>
      <div class="facilities-col">
          <img src="../../../assets/images/facilities/badminton.jpg">
          <h3>Badminton</h3>
          <p>fjvdjnvidnv jdjcodn idjdn cjdcknjdn cjdncid cdjcj</p>
      </div>
  </div>
  <button><a id="book_now" routerLink="/booking">BOOK NOW<br></a></button>
</section><br><br>
<section id="beign_now">
<br><div id="start_now">
  <ul>
      <li>
          <p>Let's Start Our Journey</p>
      </li>
      <p id="btnstart_now"><a routerLink="/booking">Begin Now</a></p>
  </ul>
</div><br>
</section>
