/*logo*/
#logo
{
    left: 8%;
    top: 30px;
    font-size: 30px;
    z-index: 997;
    font-weight: bold;
    color: #165397;
}
#logo img
{
    margin-top: 80px;
    margin-left: 510px;
    height: 200px;
    width: 200px;
    position: relative;
}
#content
{
    margin-block-start: 80px;

}
/* #intro .intro_heading
{
    width: 100%;
    padding-bottom: 50px;
    color: whitesmoke;
    text-align: center;
    /* border: solid; */
    /* padding: 50px;
    padding-left: 25%;
}
#intro .intro_heading h3
{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
    max-width: 68%;
}
#intro .intro_heading h3 span
{
    font-weight: 50;
} */
/* .multiText
{
    font-size: 50px;
    color: white;
    text-align: center;
    padding: -20px;
} */
.banner
{
  background-image: url(../../../assets/images/home/banner.jpg);
  max-width: 100%;
  min-height: 90vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
 h1
{
  color: rgb(2, 15, 37);
  font-size: 4vw;
  font-weight: bold;
  /* top: 30%;
  left: 0%; */
  margin-block-start: 5%;
  position: absolute;
  text-align: center;
  border: solid;
  /* font-height: 20vw; */
}
#btn
{
  /* top: 40%;
  left: 7%; */
  transform: translate(90%,70%);
  margin-block-start: 20%;
  /* padding-top: 30%; */
  font-size: 2vw;
  position:absolute;
}
.content a
{
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 45px 30px;
  border-radius: 30px;
}
.content a:hover
{
  background-color: white;
  color: black;
}
.gallery
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}
.gallery .gallery_heading
{
    width: 50%;
    padding-bottom: 50px;
    color: whitesmoke;
}
.gallery .gallery_heading h3
{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}
.gallery .gallery_heading h3 span
{
    font-weight: 50;
}
.gallery .box
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gallery .box .images
{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.gallery .box .images img
{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}
/* Testimonial */
.testimonial_heading
{
    width: 100%;
    padding-bottom: 50px;
    color: whitesmoke;
    text-align: center;
    /* border: solid; */
    padding: 50px;
    padding-left: 25%;
}
.testimonial_heading h3
{
    max-width: 68%;
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    /* border: solid; */
    border-bottom: 3px solid #222;
}
.media-scroller
{
  --_spacer: 2rem;
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
  grid-template-columns: 21%;
  overflow-x: auto;
  padding: 0 var(--spacer) var(--_spacer);
  overscroll-behavior-inline: contain ;
}
.media-element
{
  display: grid;
  /* grid-template-rows:auto ; */
  /* padding-left: 20%; */
  gap: var(--_spacer);
  padding: var(--_spacer);
  background: var(--surface-2);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
}

.snaps-inline
{
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer,1rem);
}
.snaps-inline > *
{
  scroll-snap-align: start;
}
/* .testimonial-container
{
  /* width: calc(150%/3); */
  /* display: flex;
} */
.testimonial-section
{
  padding: 140px 10px;
  width: 500px;
  display: flex;
  /* flex-wrap:; */
  /* justify-content: space-between; */
}

.testimonial-card
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
   /* width: calc(550%/3); */
  box-shadow: 0px 4px 4px rgb(0,0,0,0.25);
  padding: 70px 20px 100px;
  margin-top: 50px;
  /* padding-left: 40%; */
  margin-left: 400px;
  color: white;
  border-radius: 20px;
  background: rgb(104, 104, 104);
  position: relative;

}
.person-text, .person-name
{
  color: #222;
  /* width: 1500px; */
  text-align: center;
  /* padding-top: auto; */
}
.person-name
{
  color: #160aab;
}
span
{
  color: aliceblue;
}
.testimonial-card .profile img
{
  top: -45%;
  /* margin-top: -7%; */
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid;
}
.card-body p
{
  /* width: 200px;
  height: fit-content; */
  font-size: larger;
  text-align: center;
  /* margin: auto;
  margin-top: auto;*/
  /* padding: 10px; */
  /* padding-top: auto; */
}
.card-body
{
  width: 900px;
  padding: 10px;
}

/* @import '/frontend/src/styles.css'; */
/* #testimonial
{
    position: relative;
    width: 100%;
    /* flex-direction: ;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    overflow: hidden;
}
.swiper-container
{
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
}
 .swiper-wrapper
{
    width: 100%;
}
.swiper-slide
{
    background-position: center;
    background-size: cover;
    width: 320px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    filter: blur(4px);
}
.swiper-slide img
{
    display: block;
    width: 100%;
}
.swiper-slide-active
{
    filter: blur(0px);
}
.testimonialBox
{
    position: relative;
    width: 100%;
    padding: 40px;
    padding-top: 90px;
    color: #999;
}
.testimonialBox .quote
{
    position: absolute;
    top: 20px;
    right: 30px;
    opacity: 0.2;
    width: 60px;
    height: 60px;
}
.testimonialBox .details
{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.testimonialBox .details .imgBx
{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.testimonialBox .details .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonialBox .details h3
{
    font-size: 12px;
    color: #666;
}
.testimonialBox .details h3 span
{
    font-size: 12px;
    color: #2196f3;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.1em;
}
.swiper-3d .swiper-slide-shadow-left
.swiper-3d .swiper-slide-shadow-right
{
    background-image: none;
} */
/* start_now btn*/
#start_now
{
    text-align: center;
    box-sizing: content-box;
    /* border: solid;  */
    padding: 65px;
    height: 119px;
}
#start_now ul li
{
    list-style: none;
    /* border: solid;  */
    width: auto;
    margin-left: 10px;
    height: 140px;
}
#start_now:hover
{
    box-shadow: 0 0 50px #ccc;
}
#start_now ul li p
{
    font-size: 60px;
    color: white;
    text-align: center;
    padding: -20px;
}
#btnstart_now
{
    height: 60px;
    width: 200px;
    position: absolute;
    bottom: auto;
    display: grid;
    place-items: center;
    background: #160aab;
    border-radius: 10px 20px;
    padding: 10px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#start_now #btnstart_now a
{
    color: #e9e9eb;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
}
#start_now #btnstart_now:hover
{
    background-color: black;
}
