<div class = "banner">
  <div class="content">
  <h1 class="mb-5">"Every journey starts <br>with <br>ONE step..."<br></h1>
  <a id="btn" routerLink="our_facilities">BOOK NOW<i class="bi bi-arrow-right"></i></a>

  </div>
</div>
  <!-- <div id="logo">
    <p><a href="#"><img src="C:\Web-Application\images\logo.png"></a></p>
</div> -->
<!-- <section id="intro">
    <div id="content">
    <div class="intro_heading">
        <h3>Vision <span>and </span>Mission</h3>
    </div>
    <div class="descirption">
        <span class="multiText"></span>
    </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
    var typingEffect = new Typed(".multiText",
    {
        strings : ["<h2>Our Vision</h2><br>Become a sports club that would be the first choice of any customer.<br><br><h2>Our Mission</h2><br>To provide affordable and quality sports club facilities and actives for our customer. And to provide good service."],
        loop : true,
        typeSpeed : 100,
        backSpeed : 80,
        backDelay : 2000
    });
</script> -->
<section id="home">
    <div id="content">
        <div class="gallery">
            <div class="gallery_heading">
                <h3>Photo <span>Gallery</span></h3>
            </div>
            <div class="box">
                <div class="images">
                    <img src="../../../assets/images/gallery/3.jpg">
                    <img src="../../../assets/images/gallery/9.jpg">
                    <img src="../../../assets/images/gallery/10.jpg">
                    <img src="../../../assets/images/gallery/4.jpg">
                    <img src="../../../assets/images/gallery/8.jpg">
                    <img src="../../../assets/images/gallery/19.jpg">
                </div>
                <div class="images">
                    <img src="../../../assets/images/gallery/5.jpg">
                    <img src="../../../assets/images/gallery/2.png">
                    <img src="../../../assets/images/gallery/6.jpg">
                    <img src="../../../assets/images/gallery/11.jpg">
                    <img src="../../../assets/images/gallery/7.jpg">
                    <img src="../../../assets/images/gallery/17.jpg">
                    <img src="../../../assets/images/gallery/20.jpg">
                </div>
                <div class="images">
                    <img src="../../../assets/images/gallery/1.jpg">
                    <img src="../../../assets/images/gallery/13.jpeg">
                    <img src="../../../assets/images/gallery/14.jpg">
                    <img src="../../../assets/images/gallery/15.jpg">
                    <img src="../../../assets/images/gallery/16.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial_heading">
        <h3>Testimonial</h3>
    </div>
    <section>
      <div class="test-container">
        <div class="testimonial-section">
        <div class="card">
        <div class="testimonial-card">
          <div class="profile">
            <img src="../../../assets/images/user/1.jpg">
          </div>
          <div class="card-body">
            <p class="person-text">kvelkfekrlmfkvokeirn</p>
            <p class="person-name">Name</p>
          </div>
        </div>
        </div>
        <div class="card">
          <div class="testimonial-card">
            <div class="profile">
              <img src="../../../assets/images/user/1.jpg">
            </div>
            <div class="card-body">
              <p class="person-text">kvelkfekrlmfkvokeirn</p>
              <p class="person-name">Name</p>
            </div>
          </div>
          </div>
          <div class="card">
            <div class="testimonial-card">
              <div class="profile">
                <img src="../../../assets/images/user/1.jpg">
              </div>
              <div class="card-body">
                <p class="person-text">kvelkfekrlmfkvokeirn</p>
                <p class="person-name">Name</p>
              </div>
            </div>
            </div>
        </div>
      </div>
    </section>
    <!-- <section id="testimonial">
      <div class="row">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img src="../../../assets/images/user/quote.png" class="quote">
                        <div class="col-lg-4">
                            <p>The facilities are well maintained. And the staff were warm welcoming and very helpful. I was very satisfied with the sport club services. I will be continuing my journey with them!</p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="../../../assets/images/user/1.jpg">
                                </div>
                                <h3>By<br><span>Anna Blake</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img src="../../../assets/images/user/quote.png" class="quote">
                        <div class="col-lg-4">
                            <p>Let’s go sports club! Had so much fun and wonderful experience at your sports club. Will be coming soon to enjoy your facilities.</p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="../../../assets/images/user/2.png">
                                </div>
                                <h3>By<br><span>Jason Miller</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img src="../../../assets/images/user/quote.png" class="quote">
                        <div class="col-lg-4">
                            <p>Had a good time at your facilities but I have a complain, to book your facilities, I had to login to your site couple of times as it kept on crashing.</p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="../../../assets/images/user/3.jpg">
                                </div>
                                <h3>By<br><span>Alex Wales</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img src="../../../assets/images/user/quote.png" class="quote">
                        <div class="col-lg-4">
                            <p>Please add a basketball court to your facilities soon.</p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="../../../assets/images/user/4.jpg">
                                </div>
                                <h3>By<br><span>Edward Greenway</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img src="../../../assets/images/user/quote.png" class="quote">
                        <div class="col-lg-4">
                            <p>Had nice time and will be booking your facilities in the future.</p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="../../../assets/images/user/5.jpg">
                                </div>
                                <h3>By<br><span>John Cole</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img src="../../../assets/images/user/quote.png" class="quote">
                        <div class="col-lg-4">
                            <p>Honestly excellent work staff team and sport club employees, well organized organization. </p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="../../../assets/images/user/6.jpg">
                                </div>
                                <h3>By<br><span>Nate Lewis</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img src="../../../assets/images/user/quote.png" class="quote">
                        <div class="col-lg-4">
                            <p>The website created was very helpful and easy to understand.</p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="../../../assets/images/user/7.jpg">
                                </div>
                                <h3>By<br><span>Luca Proietti</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img src="../../../assets/images/user/quote.png" class="quote">
                        <div class="col-lg-4">
                            <p>Nice work, keep it up!</p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="../../../assets/images/user/8.jpg">
                                </div>
                                <h3>By<br><span>Grace Harper</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img src="../../../assets/images/user/quote.png" class="quote">
                        <div class="col-lg-4">
                            <p>The facilities are well maintained and are in excellent condition. But when will you be adding a gym facility to the sports club?</p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="../../../assets/images/user/9.jpg">
                                </div>
                                <h3>By<br><span>Morgan Pierce</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialBox">
                        <img src="../../../assets/images/user/quote.png" class="quote">
                        <div class="col-lg-4">
                            <p>Good work! Had Fun using your swimming pool and badminton court.</p>
                            <div class="details">
                                <div class="imgBx">
                                    <img src="../../../assets/images/user/10.jpg">
                                </div>
                                <h3>By<br><span>Sophie Das</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        </div>
        Swiper JS -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        <script src="../../../assets/homeJS/home.js"></script> -->

        <!-- Initialize Swiper -->
        <!-- <script>
            var swiper = new Swiper(".swiper-container", {
                effect: "coverflow",
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: "auto",
                coverflowEffect: {
                    rotate: 50,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows: true,
                }, -->
                <!-- // pagination: {
                //     el: ".swiper-pagination",
                // },
                loop: true,
            });
        </script> -->
    <!-- </section>
    <br><br><br><br> -->
</section>
<section id="beign_now">
  <br><div id="start_now">
      <ul>
          <li>
              <p>Let's Start Our Journey</p>
          </li>
          <p id="btnstart_now"><a href="#">Begin Now</a></p>
      </ul>
  </div><br>
</section>
