.form-container
{
  margin-top: 50px;
  max-width: 350px;
}
table tr td
{
  border: solid;
  width: 800px;
  height: 100%;
}
form
{
  max-width: 1000px;
  margin: 15rem auto;
  margin-right: 5rem auto;
  border: 2px solid red;
  padding: 2rem;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}
label
{
  display: block;
}
select
{
  display:block;
  width:100%;
  margin:10px 0;
  padding:10px;
}
.type-1
{
  display:block;
  width:100%;
  margin:10px 0;
  padding:10px;
  border-radius:10px;
  border: 1px solid #eee;
  transition: .3s border-color;
  font-size: 1vw;
}
.type-1:hover
{
  border: 1px solid #aaa;
}
button
{
  width: 10vw;
  min-height: 3vw;
  /* height: ; */
  font-size: 1vw;
  border-radius: 50px;
}

.cancelbtn:hover
{
  background: rgb(207, 55, 55);
}
.nextbtn:hover
{
  background: rgb(55, 207, 88)
}
