<!DOCTYPE html>
<html>
  <head>
    <title>The process</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--CSS Link-->
    <!-- <link rel="stylesheet" type="text/css" href="the_process.scss" /> -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-horizon/bootstrap-horizon.css">
    <!-- JS Link -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/058ca5f5b1.js"
      crossorigin="anonymous"
    ></script>
    <script src="the_process.js"></script>
  </head>
  <body>
    <section id="intro">
        <div id="content">
        <div class="intro_heading">
            <h3>How does it <span>Work?</span></h3>
        </div>
      </div>
    </section>
    <section>
          <div class="media-scroller with-overscroll snaps-inline snaps--individual">
            <div class="media-element">
              <img src="https://images.unsplash.com/photo-1641353989082-9b15fa661805?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400" alt="">
              <p class="title">Short title</p>
            </div>
            <div class="media-element">
              <img src="https://images.unsplash.com/photo-1643223723262-7ce785730cf6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400" alt="">
              <p class="title">A dog that's blinking?</p>
            </div>
            <div class="media-element">
              <img src="https://images.unsplash.com/photo-1640938776314-4d303f8a1380?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400" alt="">
              <p class="title">Chair</p>
            </div>
            <div class="media-element">
              <img src="https://images.unsplash.com/photo-1643223723262-7ce785730cf6?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODcyOA&ixlib=rb-1.2.1&q=80&w=400" alt="">
              <p class="title">A dog that's blinking?</p>
            </div>
            <div class="media-element">
              <img src="https://images.unsplash.com/photo-1640938776314-4d303f8a1380?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400" alt="">
              <p class="title">Chair</p>
            </div>
            <div class="media-element">
              <img src="https://images.unsplash.com/photo-1640938776314-4d303f8a1380?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MzM5ODc2Mw&ixlib=rb-1.2.1&q=80&w=400" alt="">
              <p class="title">Chair</p>
            </div>
            </div>
    </section>
    <section id="beign_now">
        <br><div id="start_now">
            <ul>
                <li>
                    <p>Let's Start Our Journey</p>
                </li>
                <p id="btnstart_now"><a  routerLink="/booking">Begin Now</a></p>
            </ul>
        </div><br>
    </section>
  </body>
</html>
