<!-- <form id="myform" (ngSubmit)="loginUser($event)"> -->
  <div class="centered-content">
    <div class="modal-box">
  <form id="myform">
  <table>
    <tr>
  <td colspan="2"><input #emailInput type="email" placeholder="Email Address" id="useremail" class="type-1"></td>
  </tr>
  <tr>
  <td colspan="2"><input #passwordInput type="password" placeholder="Password" id="userpassword" class="type-1"></td>
  </tr>
  <tr>
    <td class="center"><input mat-raised-button class="cancel" type="reset" value="Cancel"></td>
<td class="center"><input mat-raised-button class="enter" type="submit" routerLink="" (click)="onLoginButtonClicked(emailInput.value, passwordInput.value)" value="Enter"></td>
</tr>
</table>
</form>
</div>
</div>
<!-- /user_account -->
