#myform
{
  max-width: 50%;
  margin: 15rem auto;
  margin-right: 5rem auto;
  border: 2px solid red;
  padding: 3rem;
  height: auto;
  width: auto;
  text-align: center;
}
a
{
  padding: 0.2%;
  font-size: 2vw;
  border: 1px solid;
  background-color:dodgerblue;
}
a:hover
{
  border-radius: 50px;
  background-color: black;
  color: aliceblue;
}

