<section id="intro">
  <div id="content">
  <div class="intro_heading">
      <h3>All <span>Bookings</span></h3>
  </div>
</div>
</section>
<div class="modal-box">
  <div class="booking-container">
    <table>

      <tr>
        <td class="color">Name</td>
        <td class="color">Email Address</td>
        <td class="color">Phone Number</td>
        <td class="color">Which Facilities to Book</td>
        <td class="color">Start Date and Time</td>
        <td class="color">End Date and Time</td>
        <td class="color">Number of Participants</td>
        <td class="color">Trainner Required</td>
        <td class="color">Membership Number</td>
      </tr>
      <a *ngFor="let booking of bookings">
      <tr>
      <td>{{booking.uname}}</td>
      <td>{{booking.uemail}}</td>
      <td>{{booking.uphonumber}}</td>
      <td>{{booking.facilities}}</td>
      <td>{{booking.startdateandtime}}</td>
      <td>{{booking.enddateandtime}}</td>
      <td>{{booking.no_of_participants}}</td>
      <td>{{booking.trainner}}</td>
      <td>{{booking.membershipno}}</td>

    </tr>
    </a>
    </table>
  </div>
</div>
<section id="intro">
  <div id="content">
  <div class="intro_heading">
      <h3>All <span>Testimonials</span></h3>
  </div>
</div>
</section>
<div class="modal-box">
  <div class="booking-container">
    <table>

      <tr>
        <td class="color">Email</td>
        <td class="color">Comment</td>
      </tr>
      <a *ngFor="let testimonial of testimonials">
      <tr>
      <td>{{testimonial.email}}</td>
      <td>{{testimonial.comment}}</td>
    </tr>
    </a>
    </table>
  </div>
</div>
<!--  <mat-spinner *ngIf="loading"></mat-spinner>
<mat-toolbar *ngIf="successMsg" color="accent">{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar> -->

<!-- <div *ngIf="!loading && !loading"> -->
  <!-- <div> -->
  <!-- <table mat-table [dataSource]="bookings" class="mat-elevation-z8"> -->
    <!-- <table class="mat-elevation-z8">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Customer Name</th>
      <td mat-cell *matCellDef="let booking"> {{ booking.username }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Customer Email</th>
      <td mat-cell *matCellDef="let booking"> {{ booking.email }}</td>
    </ng-container>
    <ng-container matColumnDef="phnum">
      <th mat-header-cell *matHeaderCellDef>Customer Phone Number</th>
      <td mat-cell *matCellDef="let booking"> {{ booking.phnum }}</td>
    </ng-container>
    <ng-container matColumnDef="facilities">
      <th mat-header-cell *matHeaderCellDef>Facilities to Book</th>
      <td mat-cell *matCellDef="let booking"> {{ booking.facilities }}</td>
    </ng-container>
    <ng-container matColumnDef="startdateandtime">
      <th mat-header-cell *matHeaderCellDef>Booking Start Date and Time</th>
      <td mat-cell *matCellDef="let booking"> {{ booking.startdateandtime }}</td>
    </ng-container>
    <ng-container matColumnDef="enddateandtime">
      <th mat-header-cell *matHeaderCellDef>Booking End Date and Time</th>
      <td mat-cell *matCellDef="let booking"> {{ booking.enddateandtime | date:'dd/MM/yyyy'}}</td>
    </ng-container>
    <ng-container matColumnDef="assitancerequirement">
      <th mat-header-cell *matHeaderCellDef>Tranieer Required or not</th>
      <td mat-cell *matCellDef="let booking"> {{ booking.assitancerequirement }}</td>
    </ng-container>
    <ng-container matColumnDef="number_of_participants">
      <th mat-header-cell *matHeaderCellDef>Number of Participantsth>
      <td mat-cell *matCellDef="let booking"> {{ booking.number_of_participants}}</td>
    </ng-container>
    <ng-container matColumnDef="membershipno">
      <th mat-header-cell *matHeaderCellDef>Membership Number</th>
      <td mat-cell *matCellDef="let booking"> {{ booking.membershipno }}</td>
    </ng-container>
    <ng-container matColumnDef="cancel">
      <th mat-header-cell *matHeaderCellDef>Cancel</th>
      <td mat-cell *matCellDef="let booking">
         <button (click)="cancelBooking(booking._id)" mat-raised-button color="warn">Cancel</button> -->
        <!-- <button  mat-raised-button color="warn">Cancel</button> -->
      <!-- </td> -->
    <!-- </ng-container> -->
    <!-- <tr mat-header-row *matHeaderRowDef="columns"></tr> -->
    <!-- <tr mat-row *matRowDef="let bookings; columns: columns"></tr> -->
    <!-- <tr mat-header-row></tr> -->
    <!-- <tr></tr> -->
  <!-- </table> -->
<!-- </div> s -->
